

<div class="container">

    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
     


    <!-- Section Title -->
    <div class="container section-title text-center mb-5" data-aos="fade-up">
        <h1 class="page-title">Services</h1>      <p class="lead">Featured Services<br></p>
    </div><!-- End Section Title -->
  
    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
      <div class="row gy-5">
  
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item card h-100 shadow-sm">
            <div class="img">
              <img src="/img/services-1.jpg" class="card-img-top img-fluid rounded-top" alt="Service 1">
            </div>
            <div class="details position-relative card-body">
              <div class="icon mb-3 fs-3 text-primary">
                <i class="bi bi-activity"></i>
              </div>
              <a href="service-details.html" class="stretched-link text-decoration-none">
                <h3 class="card-title">Nesciunt Mete</h3>
              </a>
              <p class="card-text">Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis.</p>
            </div>
          </div>
        </div><!-- End Service Item -->
  
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item card h-100 shadow-sm">
            <div class="img">
              <img src="/img/services-2.jpg" class="card-img-top img-fluid rounded-top" alt="Service 2">
            </div>
            <div class="details position-relative card-body">
              <div class="icon mb-3 fs-3 text-warning">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="service-details.html" class="stretched-link text-decoration-none">
                <h3 class="card-title">Eosle Commodi</h3>
              </a>
              <p class="card-text">Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
            </div>
          </div>
        </div><!-- End Service Item -->
  
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item card h-100 shadow-sm">
            <div class="img">
              <img src="/img/services-3.jpg" class="card-img-top img-fluid rounded-top" alt="Service 3">
            </div>
            <div class="details position-relative card-body">
              <div class="icon mb-3 fs-3 text-success">
                <i class="bi bi-easel"></i>
              </div>
              <a href="service-details.html" class="stretched-link text-decoration-none">
                <h3 class="card-title">Ledo Markt</h3>
              </a>
              <p class="card-text">Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
            </div>
          </div>
        </div><!-- End Service Item -->
  
      </div>
  
    </div>
  
  
  </div>
  </div>